# --- Core Framework & Server ---
fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.9
gunicorn==21.2.0

# --- Database (MongoDB Atlas) ---
motor==3.3.2
pymongo==4.6.1
dnspython==2.5.0

# --- Authentication & Security ---
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
email-validator==2.1.0.post1

# --- AI & Image Processing (Crucial for Render) ---
# ใช้ headless เพื่อไม่ให้เกิด Error: libGL.so.1
opencv-python-headless==4.9.0.80
mediapipe
numpy

# --- Utilities & Tools ---
python-dotenv==1.0.1
matplotlib==3.8.2
pandas==2.2.0
absl-py==2.1.0
attrs==23.2.0

PyJWT==2.8.0